[Unit]
Description=Prometheus Service
Wants=network.target
After=network.target

[Service]
User={{ target_user }}
Group={{ target_user }}
Type=simple

ExecStart=/usr/local/bin/prometheus --config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus
Restart=on-failure
RestartSec=2s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target